<ul>
  {{#each albums.items}}
    <li>
      <img src="{{images.[0].url}}" alt="{{name}}">
      <br>
      Name: {{name}}
      <br>
      <button>
        <a href="/tracks/{{id}}">View Tracks</a>
      </button>
    </li>
  {{/each}}
</ul>