<ul>
  {{#each artists}}
    <li>
      <img src="{{images.1.url}}" alt="{{name}}">
      <br>
      <h3>Name: {{name}}</h3>
      <br>
        <a href="/albums/{{id}}">
            <button>View Albums</button>
        </a>
    </li>
    <br>
  {{/each}}
</ul>